#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.correct:focus{
  background-color: green;
}
.incorrect:focus{
  background-color: red;
}